@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 96%; /* #ffffff */
    --foreground: 240 10% 3.9%; /* #0f0f0f */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 240 10% 3.9%; /* #0f0f0f */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 240 10% 3.9%; /* #0f0f0f */
    --primary: 216, 73%, 63%;/* hsl(216, 73%, 63%) */
    --primary-foreground: 0 0% 98%; /* #fafafa */
    --secondary: 240 4.8% 95.9%; /* #f5f5f5 */
    --secondary-foreground: 240 5.9% 10%; /* #f0f0f0 */
    --muted: 240 4.8% 95.9%; /* #f5f5f5 */
    --muted-foreground: 240 3.8% 46.1%; /* #777777 */
    --accent: 240 4.8% 95.9%; /* #f5f5f5 */
    --accent-foreground: 240 5.9% 10%; /* #f0f0f0 */
    --destructive: 0 84.2% 60.2%; /* #e64c4c */
    --destructive-foreground: 0 0% 98%; /* #fafafa */
    --border: 240 5.9% 90%; /* #e6e6e6 */
    --input: 240 5.9% 90%; /* #e6e6e6 */
    --ring: 240 5.9% 10%; /* #f0f0f0 */
    --radius: 0.5rem; /* 8px */
  }
 
  .dark {
    
    --background: 0 0% 12.55%; /* #202020 */  
    --foreground: 0 0% 98%; /* #fafafa */
    --card: 0 0% 9.8; /* #191919  */
    --card-foreground: 0 0% 98%; /* #fafafa */
    --popover: 0 0% 9.8; /* #191919  */
    --popover-foreground: 0 0% 98%; /* #fafafa */
    --primary: 216 73%, 63%;/* hsl(216, 73%, 63%) */
    --primary-foreground: 240 5.9% 10%; /* #f0f0f0 */
    --secondary: 240 3.7% 15.9%; /* #272727 */
    --secondary-foreground: 0 0% 98%; /* #fafafa */
    --muted: 240 3.7% 15.9%; /* #272727 */
    --muted-foreground: 240 5% 64.9%; /* #b3b3b3 */
    --accent: 240 3.7% 15.9%; /* #272727 */
    --accent-foreground: 0 0% 98%; /* #fafafa */
    --destructive: 0 84.2% 60.2%; /* #d13e3e */
    --destructive-foreground: 0 0% 98%; /* #fafafa */
    --border: 240 3.7% 15.9%; /* #272727 */
    --input: 240 3.7% 15.9%; /* #272727 */
    --ring: 240 4.9% 83.9%; /* #3d3d3d */
  }
  body {
    @apply bg-background text-foreground;
  }

  html {
    -webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
  }

  /* === Scrollbars === */

  ::-webkit-scrollbar {
    @apply sm:w-1;
    @apply sm:h-2;
  }
  ::-webkit-scrollbar-track {
    @apply sm:!bg-slate-200 sm:px-[1px];
  }
  ::-webkit-scrollbar-thumb {
    @apply sm:rounded-md sm:bg-slate-400;
  }

  /* Firefox */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */

}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

.str-video {
  background-color: #272a30;
  color: #ffffff;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 4px;
  min-height: 48px;
  padding: 4px;
}

.alert[data-alert-type="warning"] {
  background-color: #fff6e6;
}

.alert[data-alert-type="error"] {
  background-color: #ffe6e6;
}

.alert[data-alert-type="info"] {
  background-color: #e6ebff;
}

.alert[data-alert-type="success"] {
  background-color: #e6ffe6;
}

[data-color-scheme="dark"] .alert[data-alert-type="warning"] {
  background-color: #805d20;
}

[data-color-scheme="dark"] .alert[data-alert-type="error"] {
  background-color: #802020;
}

[data-color-scheme="dark"] .alert[data-alert-type="info"] {
  background-color: #203380;
}

[data-color-scheme="dark"] .alert[data-alert-type="success"] {
  background-color: #208020;
}

.alert-icon-wrapper {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  height: 18px;
  width: 18px;
  user-select: none;
  cursor: pointer;
}

.alert-icon[data-alert-icon-type="warning"] {
  color: #e69819
}

.alert-icon[data-alert-icon-type="error"] {
  color: #d80d0d
}

.alert-icon[data-alert-icon-type="info"] {
  color: #507aff
}

.alert-icon[data-alert-icon-type="success"] {
  color: #0bc10b
}

.inline-content {
  flex-grow: 1;
}
.bn-editor {
  padding-inline: 0;
}